<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/sobre-contatos.css">
    <title>Sobre</title>
</head>
<body>
    <div class="box">
        <div class="box-content">
        <h1>Sobre</h1>
        <p>
            Olá! Meu nome é Otávio, tenho 40 anos e moro no Distrito Federal. Sou formado em História pela Universidade de Brasília (UnB) e durante anos trabalhei como professor. Recentemente me formei em Ciência da Computação (Estácio) e pretendo migrar de área de trabalho.
        </p>  
        <p>
            Tenho estudado principalmente a linguagem Python focando no desenvolvimento web, mas já estudei um pouco de Java, Javascript e SQL no passado.
        </p>
        <h2>Contatos</h2>
            <p>
                Meu telefone e whatsapp é (61) 99288-5255. 
            </p>
            <p>
                E-mail: otaviotavares2016@gmail.com.
            </p>
            <p>
                LinkedIn: <a href="https://www.linkedin.com/in/ot%C3%A1vio-tavares-00b3a71b2" target="_blank">https://www.linkedin.com/in/ot%C3%A1vio-tavares-00b3a71b2/</a>
            </p>
            <p>
                GitHub: <a href="https://github.com/Alberus" target="_blank">https://github.com/Alberus</a>
            </p>
        </div>
        <div class="box-foto">
        <img class="foto" src="static/img/foto.jpg" alt="">
        </div>    
    </div>
    
</body>
</html>