<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="static/css/telegram_bot.css">

	<title>Bot do Telegram</title>

</head>
<body>
    <div>
    <h1>Bot do Otávio</h1>
    <p>O botão abaixo rediereciona para o meu bot do telegram. O bot foi construído durante meus estudos sobre os tema e implementa um jogo no qual uma história se desenrola à medida que você faz escolhas e responde ao programa.</p>
    <p>Contudo, o bot so reconhece os comandos se eles forem escritos estritamente como indicado</p>
	<a href="https://web.telegram.org/k/#@otavios_bot" target="_blank"><button>Começar</button></a>
    </div>
</body>
</html>